elasticsearch==7.0.2
elasticsearch-dsl==7.2.0
ijson==2.4
urllib3==1.26.5
python-dateutil==2.8.0
zipp==0.6.0
-e git+https://github.com/OpenDataServices/flatten-tool.git#egg=flattentool
simplejson==3.17.0
requests==2.22.0
pandas==0.25.3
xlrd==1.2.0
psycopg2-binary==2.8.2